<!DOCTYPE html>

<html>
  	<head>
    	<title>Ez Shopping Cart Admin Page</title>


	    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" >
	    <link rel="stylesheet" href="/stylesheets/header.css" type="text/css" >
	    <link rel="stylesheet" href="/stylesheets/footer.css" type="text/css" >
	    <link rel="stylesheet" href="/stylesheets/bootstrap.css" type="text/css" >
	    <link rel="stylesheet" href="/stylesheets/dropdown.css" type="text/css" >
	    <link rel="stylesheet" href="/stylesheets/error.css" type="text/css" >	    
	    
	    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>  	
  	</head>
  	
 	<div class="wrapper"> 
  		<body>    
      		<header>
        		<div class="header-top">
          			<div class="container">
            			<div class="pull-right">
               				<nav class="navbar clear-right pull-right">
              					<ul class="nav nav-pills">                <!-- Header NavBar -->
                    				<li>
                  						<a href="/UserHomePage" title="home" class="">Home</a>
                					</li>
					                <li>
					                  	<a href="/history" title="My History" class="">My History</a>
					                </li>                
				                	<li>
				                  		<a href="/" title="Logout" class="">Log Out</a>
				                	</li>
			              		</ul>
			            	</nav>
			        	</div>
			       	</div>
      			</div>
        
			  	<div class="header-bottom">
			    	<div class="container">
				      	<div class="logo">        <!-- Header Logo and Search -->
				        	<a href="" title="home" class="pull-left"><img src="/images/logo.jpg" alt="Logo" /></a>
            				<a href="" title="home" class="pull-left"><h1 class="clear-left">Cart</h1></a>
				 		</div>			          			         
			    	</div>
				</div>
			      
      			<div class="container ">
          			<nav id="dropdown_nav">
            			<h3>Thank You</h3>
          			</nav>
        		</div>
    		</header>
    		    
    		<section class="adjust container">
				<h5>Thank You for buying products from EzCart! Your product will be delievered in 4-5 working days!</h5>         
    		</section>
			<div class="push"></div>
		</div>

   		<div class="footer">
      		<footer>
        		<div class="container">
         			<p class="copyright">
          				Copyright 2012 for
          				<strong><a href="<?php echo base_url(); ?>welcome/logo" title="home" >EZCart.com</a></strong>
         			</p>          
          		</div>
      		</footer>
		</div>
  	</body>
</html>
